h2{
    font-family:Arial, Helvetica, sans-serif;
     text-align: center;
     font-size: 32px;
     color: #c21212;
     text-decoration: underline;
}

.main{
    margin-left: 40rem;
     font-style: italic;
      
}
