
.title {
  text-align: center;
  margin-bottom: 20px;
}

.order-container {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100rem;
 
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.order-details {
  margin-bottom: 10px;
}

.customer-name {
  font-weight: bold;
}

.quantity {
  color: #f32121; /* Blue */
}

.amount {
  color: #f57c00; /* Orange */
}

.payment-status {
  font-weight: bold;
  text-transform: uppercase;
}

.payment-status.paid {
  color: #4caf50; /* Green */
}

.payment-status.pending {
  color: #f44336; /* Red */
}
