body{
    background-image: url("https://envato-shoebox-0.imgix.net/55ef/4f79-890d-4276-8f59-174c8081fd18/_R0A7723.jpg?auto=compress%2Cformat&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&w=800&fit=max&markalign=center%2Cmiddle&markalpha=18&s=956570386208808b0b2dfa8831640b9f");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgba(128, 128, 128, 0.623);
}